num_qps_per_server = 33
num_sim_threads = 32
data_msg_size = 10240       
data_cache_size = 4096000000
metadata_cache_size = 10000   
ctrl_msg_size = 1024        
bg_msg_size = 4096            
sock_port = 4711             
sock_addr = 10.10.1.4 
storage_grpc_endpoint = 10.10.1.5:50051
orderer_grpc_endpoint = 10.10.1.6:50051